@import "/components.css";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');

* {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='40' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23929cac' fill-opacity='0.06'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

nav {
    position: fixed;
    float: left;
}

main {
    margin-left: calc(100vw - calc(100vw - 200px));
}

.nav-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 170px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0.45turn, #3f5efb, #fc466b);
    box-shadow: 2px 3px 13px -5px rgba(252,70,107,1); 
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid white;
  margin: 20px;
  padding: 60px;
  background: url("https://i.imgur.com/13qNcMD.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* 
.logo {
    display: block;
    background: url("https://i.imgur.com/13qNcMD.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.nav-link-container {
    display:flex;
    flex-flow: column;
    width: 100%;
    margin-top: -5%;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.nav-link {
    text-decoration: none;
    padding: 10%;
    font-size: 36px;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.nav-link:hover {
  background-color: rgba(0,0,0,0.5)
}

.nav-link > a {
	color: #fff;
	text-decoration: none;
}

.nav-link > a:active {
	color: rgba(0, 0, 0, 0.1);
}

.nav-link > a:visited {
	color: #fff;
}

.nav-link-container:nth-child(3) {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

.socials-container {
    display: flex;
/*     background: #ccc; */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
/*     height: 33%; */
}

.socials {
  margin: 5%;
}


.main-container {
    display: flex;
    flex-flow: column;
  /*   height: 95vh; */
    margin-left: 30px;
    justify-content: space-evenly;
    background: url("https://i.imgur.com/VieS1f8.png") no-repeat;
    background-size: 40%;
    background-position: right;
  }
  
  .headers-container {
    max-width: 40%;
    min-width: 300px;
    box-sizing: border-box;
  /*   word-wrap: break-word;
    overflow-wrap: break-word; */
  }
  
  .highlight-small {
    max-width: 20%;
    min-width: 20%;
  }
  
  .headers {
    margin-top: 20px;
  }
  
  .headers h1 {
    font-size: 4.5em;
    font-family: 'Roboto Slab', serif;
    border-bottom: 6px solid #ffc353;
    box-shadow: inset 0 -4px #ffc353;
  /*   width: 100%; */
    line-height:60px;
  }
  
  #blurb {
    max-width: 600px;
    margin: 50px 0 50px 0;
  }
  
  #blurb p {
    font-size: 25pt;
    font-family: 'Raleway', sans-serif;
  }
  
  .text-footer {
    text-align: center;
    font-family: 'Raleway';
    font-weight: 300;
    width: 100%;
  }
  
  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    border: none;
    color: #3F5EFB;
  
    width: 80%;
    height: 30px;
  }
  
  .progress-bar-container {
    max-width: 720px;
    margin: 30px 0 30px 0;
  }
  
  .progress-bar-label {
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
    color: #181616;
    font-family: 'Raleway', sans-serif;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
  
  progress[value]::-webkit-progress-value {
    background-color: #3F5EFB;
    background-image: -webkit-linear-gradient(1turn, #3F5EFB, #FC466B);
    border-radius: 4px;
    border-right: 3px solid white;
  }
  
  progress[value]::-moz-progress-bar {
    background-color: #3F5EFB;
    border-radius: 4px;
    background-image: -moz-linear-gradient(1turn, #3F5EFB, #FC466B);
    border-radius: 4px;
    border-right: 3px solid white;
  }